---
import HomeSection from '../components/HomeSection.astro'
import SearchJobs from '../components/SearchJobs.astro'
import sections from '../constants/home_sections.json'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Talent.com | clone'>
  <main class='Home'>
    <SearchJobs search='Desarrollador frontend' location='Medellin, CO' />
    {
      sections.map(({ picture, title, description, link }) => (
        <HomeSection picture={picture} title={title} description={description} link={link} />
      ))
    }
  </main>
</Layout>

<style>
  main {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: center;
  }
</style>
